*{
    box-sizing: border-box;

}
body{
    background-color: antiquewhite;
}
nav{
    text-align: center;
    background-color: aliceblue;
    padding: 16px;
    margin-bottom: 20px;
}
nav a{
    background-color: antiquewhite;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    display: grid;

}
h1{
    text-align: center;
    padding: 24px;
    margin-bottom: 32px;
    font-size: 48px;

}
article{
    max-width: 1000px;
    margin: auto;
    padding: 16px;

}