*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
}
header{
    text-align: center;
    padding: 30px;
    border-radius: 35px;
    
}
nav{
    text-align: center;
    padding: 16px;
    margin-bottom: 20px;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    display: grid;
    gap: 20px;
    border: 2px snow;
    

}
h1{
    text-align: center;
    padding: 24px;
    margin-bottom: 32px;
    font-size: 48px;

}
article{
    max-width: 1000px;
    margin: auto;
    padding: 16px;

}
img{
    width: 100%;
    max-width: 200px;

}
.kartya div{
    background-color: azure;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30 px;
    padding: 30px;

}
.logok{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;

}
footer{
    text-align: center;
    background-color: azure;
    margin-top: 32px;
}

@media screen and (max-width:600px) {
    .kartya{
        grid-template-columns: 1fr;
    }
    nav{
        grid-template-columns: 1fr;
    }
    footer{
        grid-template-columns: 1fr;
    }
}